.dashboard{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
.sidebar{
    width: 38%;
    display: flex;
    align-items: center;
    z-index: 3;
    box-shadow: 2px 0 3px #0f0f0f;
}
.full-w{
    width: 99%;
}
.your-id{
    height: 6%;
    width: 99%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: white;
}
.start-btn{
    height: 6.5%;
    width: 99%;
    background-image: linear-gradient(to bottom right, #FF0000 , 74%, #ff9100);
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 22px;
    border-radius: 8px;
}
.start-btn:hover{
    background-image: linear-gradient(to bottom right, #00FFFF, 55%, #CCFF66);
    color: black;
    transition: 0.3s;
}
.nav-item , .nav-item:hover{
    color: white !important;
}
.nav-item:hover{
    border-color: #363636!important;
}
.nav-item .active , .list-group-item.active{
    background-color: #363636 !important;
    border-color: #363636 !important;
    color: white !important;
}
.c-item{
    background-color: #151515 !important;
    color: white !important;
    border-bottom: 1px solid white !important;
}
